@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,1000;1,400&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --red: rgb(255, 0, 0);
  --navbar-bg: rgba(16, 16, 16, 0.9);
  --dim-grey: rgb(72, 72, 72);
  --grey: rgb(128, 128, 128);
  --shadow: rgb(190, 190, 190);
  --primary-clr: rgb(200, 82, 255);
  --logo-font: "Allura", cursive;
  --headings-font: "Montserrat", sans-serif;
  --primary-font: "Mulish", sans-serif;
}

body {
  font-family: var(--primary-font);
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--white);
}

nav {
  background-color: var(--navbar-bg);
  position: fixed;
  z-index: 1;
  width: 100vw;
  max-width: 100vw;
  height: auto;
}

.logo {
  font-size: 45px;
  padding: 3px 3rem;
  font-family: var(--logo-font);
  color: var(--primary-clr);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-right: 5rem;
}

.links-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.link {
  display: flex;
  font-family: var(--headings-font);
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin-right: 1.5rem;
}

.icons {
  scale: 1.2;
}

.links-title {
  margin: 0px 1.5rem 0px 5px;
}

.link:hover {
  scale: 1.1;
  cursor: pointer;
}

.link:focus {
  color: var(--primary-clr);
}

.home-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 5rem;
  align-items: center;
  height: 100vh;
}

.home-content {
  font-family: var(--primary-font);
  letter-spacing: 1.5px;
  margin-left: 2rem;
}

.greetings {
  margin: 2rem;
  font-size: 35px;
}

.wave {
  color: var(--primary-clr);
  scale: 1.2;
  animation-name: waving-hand;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 70% 80%;
  display: inline-block;
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

span {
  color: var(--primary-clr);
  font-weight: 700;
}

.name {
  margin: 0px 2rem;
  font-size: 35px;
}

.role {
  margin: 4rem 0px 0px 2rem;
  font-size: 28px;
  font-weight: 400;
}

.home-pic {
  margin-top: 3rem;
  width: 38rem;
  height: 37rem;
}

.error-page {
  position: absolute;
  top: 30%;
  left: 20%;
  color: red;
}

.error-link {
  color: var(--primary-clr);
  font-size: 24px;
}

.about-page {
  letter-spacing: 1px;
  font-family: var(--primary-font);
  padding: 5rem;
  width: 100%;
  height: auto;
}

.img-container {
  width: 100%;
  text-align: center;
}

.my-img {
  width: 17rem;
  height: 17rem;
  margin-bottom: 10px;
  border: 4px solid var(--primary-clr);
  border-radius: 50%;
}

.about-content {
  margin: 1rem;
  border-top: 2px solid var(--primary-clr);
  text-align: center;
}

.about {
  margin: auto;
  padding: 2rem;
  font-family: var(--primary-font);
  border-bottom: 2px solid var(--primary-clr);
  font-size: 22px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 1rem;
}

.about-content span {
  font-size: 1.7rem;
}

.skill {
  border-bottom: 2px solid var(--primary-clr);
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.2rem;
  font-family: var(--primary-font);
  margin-bottom: 1rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--navbar-bg);
  color:var(--primary-clr);
  font-weight: 700;
  letter-spacing: 2px;
  box-shadow: 0 5px 15px rgba(132, 132, 132, 0.4);
  margin: 1rem 0px;
  width: 100%;
  height: 8rem;
  border: 2px solid var(--primary-clr);
  border-radius: 5px;
}

.box:hover {
  background-color: var(--primary-clr);
  color: var(--white);
  scale: 1.05;
}

.box-icon {
  scale: 3;
  margin-top: 12px;
  margin-bottom: 1.5rem;
}

.social-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 2.5rem auto;
}

.social-icon{
  color: var(--white);
  scale: 2.5;
  margin:0 1rem;
}

.social-icon:hover{
  scale: 2.7;
  color: var(--primary-clr);
  transition-duration: 0.5s;
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    padding: 0px 5px;
    margin: 0px;
  }
  .navbar-container .logo {
    padding: 10px;
    margin: 0;
    font-size: 30px;
  }

  .links-container a {
    font-size: 18px;
    margin-right: 5px;
  }

  .links-title {
    margin: 0 15px 0 3px;
  }

  .about-page {
    padding: 5rem 1rem;
  }

  .img-container {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .my-img {
    width: 12rem;
    height: 12rem;
    border: 4px solid var(--primary-clr);
    border-radius: 50%;
  }

  .about-content p {
    font-size: 18px;
    font-weight: 200;
  }

  .about-content span {
    font-size: 1.2rem;
  }

  .social-icon{
    scale: 2;
  }
  
  .social-icon:hover{
    scale: 2.2;
    color: var(--primary-clr);
    transition-duration: 0.5s;
  }
}

@media only screen and (max-width: 900px) {
  .home-page {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
  }

  .home-content p {
    font-size: 24px;
    margin: 1rem 0;
  }

  .home-pic {
    margin: 0;
    width: 23rem;
    height: 23rem;
  }
}

